*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#081120;
    color:white;
}

header{
    background:#0f172a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

nav a{
    color:#4da6ff;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h2{
    font-size:70px;
    color:#4da6ff;
}

.hero p{
    font-size:22px;
    margin-top:20px;
}

button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:10px;
    background:#4da6ff;
    color:white;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    transform:scale(1.05);
}

.join-section{
    padding:80px 20px;
    text-align:center;
}

.join-section h2{
    color:#4da6ff;
    margin-bottom:40px;
    font-size:40px;
}

.feature{
    background:#0f172a;
    max-width:700px;
    margin:20px auto;
    padding:25px;
    border-radius:15px;
    border:1px solid #2563eb;
}

.feature h3{
    color:#60a5fa;
    margin-bottom:10px;
}

footer{
    background:#0f172a;
    text-align:center;
    padding:30px;
    margin-top:50px;
}